.Login_Modal_Box {
  position: fixed;
  width: 500px;
  height: 700px;
  top: 10%;
  left: 40%;
  margin: 0 auto;
  border: solid 1px #d9d9d9;
  text-align: center;
  z-index: 99;
  background-color: white;
}
.Login_Input_Box_Title > img {
  position: relative;
  top: 20px;
  width: 200px;
}

.Con_Login_Input_Box {
  position: relative;
  top: 60px;
  //   border: solid 1px red;
  height: 120px;
}

.Login_Box_Input_Common_Style {
  position: relative;
  font-size: 1rem;
  width: 440px;
  height: 40px;
  border: none;
  border: solid 1px #d9d9d9;
  margin: 7px 0;
  padding: 0 10px;
}
.Login_Box_Input_Common_Style::placeholder {
  color: #d9d9d9;
}
.Login_Button {
  position: relative;
  top: 60px;
}
.Login_Button {
  font-size: 1rem;
  //   position: relative;
  padding: 14px 210px;
  background-color: #d9d9d9;
  color: white;
  border: none;
  border-radius: 100px;
}
.Con_Etc_Box {
  font-size: 0.8rem;
  position: relative;
  top: 70px;
}
.Content_Etc_Common_Style {
  display: inline-block;
  margin: 0 8px;
  color: #999;
}
.Login_Sns_Title_Area {
  position: relative;
  top: 100px;
  width: 460px;
  height: 300px;
  border-bottom: solid 1px #d9d9d9;
  border-top: solid 1px #d9d9d9;
  text-align: center;
  margin: 0 auto;
}
.Login_Sns_Title_Area > strong {
  position: relative;
  font-size: 0.8rem;
  color: #d9d9d9;
  padding: 0 10px;
  top: -12px;
  background-color: white;
}

.Sns_Icons_Box {
  position: relative;
  top: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 0;
}

.Sns_Button_Common_Style {
  position: relative;
  width: 105px;
  height: 70px;
  vertical-align: middle;
  background-color: white;
  border: solid 1px #999;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #999;
  font-weight: bold;
}

.Sns_Button_Common_Style:nth-child(2) {
  margin-left: 10px;
  margin-right: 5px;
}
.Sns_Button_Common_Style:nth-child(3) {
  margin-left: 5px;
  margin-right: 10px;
}

.Sns_Icons_Common_Style {
  background-image: url("https://fem.encar.com/static/media/spr_login_sns_icon.dcbf02f910c573e04674.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 170px;
  height: 40px;
  width: 38px;
  margin: 0 auto;
}

.Sns_Icons_Naver {
  background-position: 61.2% 21.8%;
}
.Sns_Icons_Kakao {
  background-position: 54.7% 62%;
}
.Sns_Icons_Google {
  background-position: 26.9% 62.1%;
}
.Sns_Icons_Apple {
  background-position: -1% 62%;
}

.Login_Sns_Title_Area > p {
  position: relative;
  top: 15px;
  font-size: 0.8rem;
  color: #d9d9d9;
  font-weight: bold;
}
.Login_Box_Footer {
  position: relative;
  font-size: 0.6rem;
  color: #999;
  top: 100px;
}
