head,
body {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.TopBar_Body_Box {
  position: relative;
  height: 80px;
  width: 100%;
  display: inline-block;
  top: -15px;
  z-index: 10;
}
.TopBar_logo_Box {
  position: relative;
  left: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  // top: -25px;
}
.TopBar_logo_Box_Img {
  position: relative;
  left: 100px;
  top: 30px;
  width: 180px;
}
.TopBar_Menu_Box {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 40%;
  background-color: black;
  height: 100%;
  white-space: nowrap;
  border-radius: 8px;
  left: 10%;
}
.TopBar_Menu_Common_Style {
  position: relative;
  display: inline-block;
  width: calc(100% / 7);
  height: 100%;
  vertical-align: middle;
  top: 30px;
}
.TopBar_Menu_Common_Style > a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 35px;
  // top: 40px;
}

// .TopBar_Menu_Common_Style:hover {
//   border-bottom: groove 1px #3ab2ff;
// }

.TopBar_Menu_Common_Style:hover > a > span {
  color: #3ab2ff;
}

.TopBar_Menu_Common_Style > a > span > ul {
  position: relative;
  list-style: none;
  display: none;
  width: inherit;
  width: 150px;
}

.TopBar_Menu_Common_Style > a > span > ul > li > a {
  position: relative;
  text-decoration: none;
  color: #cbcccd;
  font-size: 0.8rem;
}

.TopBar_Menu_Common_Style:hover > a > span > ul {
  position: relative;
  // top: px;
  display: block;
  background-color: black;
  border-radius: 8px;
}
.TopBar_Menu_Common_Style:hover > a > span > ul > li {
  height: 36px;
}
.TopBar_Menu_Common_Style > a > span > ul > li:hover > a {
  color: #3ab2ff;
}
.TopBar_SignupOrLogin_Box_Button {
  position: relative;
  all: unset;
}

.login_Button {
  position: relative;
  top: -6px;
  // left: -18px;
  width: 12px;
  height: 12px;
  background-color: #3ab2ff;
  border-radius: 34px;
  padding: 7px;
}
// .Search_Con {
//   position: relative;
//   width: 100%;
//   height: 170px;
//   overflow: hidden;
// }

// .Search_Box1 {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// .Search_Box2 {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-color: #3ab2ff;
//   animation: moon 1s;
// }

// @keyframes moon {
//   0% {
//     top: -100%;
//     opacity: 0;
//   }

//   100% {
//     top: 0;
//     opacity: 1;
//   }
// }

.TopBar_Search_Box,
.TopBar_SignupOrLogin_Box {
  left: 10px;
}
.TopBar_divion_icon {
  position: absolute;
  font-size: 1rem;
  // color: yellow;
  left: 50px;
  top: -10px;
}
